<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringHexagonalApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="spring-architectures" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.lombold.blueprints.hexagonal.SpringHexagonalApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>